/* id footer*/

footer > div > ul > li {
    float: left;
    width: 33.3%;
    padding: 50px;
    text-align: center;
    list-style: none;
  }
  
  footer > div > ul > li > ul > li {
    list-style: none;
  }
  
  footer .logo-facebook {
    background: url(../img/logo/logo-icon.png);
  }
  
  #copyright p {
    text-align: center;
  }