/* variable */

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main styling */
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7rem;
}
/*text sturcture*/
header {
background: aqua;
}

main {
  margin-top: 30px;
}

footer {
  color: #fff;
  background: black;
}
/*links*/
a {
  color: #fff;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  padding-bottom: 20px;
}

p {
  padding: 10px 0;
}

img {
  width: 50px;
  height: auto;
  margin-bottom: 10px;
}

/* utility classess*/
.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}

.box {
  float: left;
  width: 33.3%;
  padding: 50px;
  text-align: center;
}

.brand-text {
  color: #f7c08a;
}

.lead-words {
  font-size: 20px;
}

/*button*/
.btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background: #333;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: aqua;
}

.btn-light {
  background: #f4f4f4;
  color: #333;
}

.btn-dark {
  background: #333;
  color: #f4f4f4;
}

/*background*/
.bg-light {
  background-color: aqua;
}

.bg-dark {
  background: #333;
  color: #fff;
  overflow: auto;
}

/*clear float*/
.clr {
  clear: both;
}



/* id home-info*/
#home-info-1,
#home-info-2,
#home-info-3 {
  height: 400px;
}

#home-info-1 .info-1-img {
  float: left;
  width: 50%;
  background: url(../img/gallery/main/main1.jpg) no-repeat center center/cover;
  min-height: 100%;
}

#home-info-1 .info-1-desc {
  float: right;
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 50px 30px;
  overflow: hidden;
}

#home-info-2 .info-2-img {
  float: left;
  width: 50%;
  background: url(../img/gallery/main/main2.jpg) no-repeat center center/cover;
  min-height: 100%;
}

#home-info-2 .info-2-desc {
  float: right;
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 50px 30px;
  overflow: hidden;
}

#home-info-3 .info-3-img {
  float: left;
  width: 50%;
  background: url(../img/gallery/main/main3.jpg) no-repeat center center/cover;
  min-height: 100%;
}

#home-info-3 .info-3-desc {
  float: right;
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 50px 30px;
  overflow: hidden;
}

#home-info-1 .info-1-desc p,
#home-info-2 .info-2-desc p,
#home-info-3 .info-3-desc p {
  padding-bottom: 30px;
}

/* id footer*/

footer > div > ul > li {
  float: left;
  width: 33.3%;
  padding: 50px;
  text-align: center;
  list-style: none;
}

footer > div > ul > li > ul > li {
  list-style: none;
}

footer .logo-facebook {
  background: url(../img/logo/logo-icon.png);
}

#copyright p {
  text-align: center;
}
